/* Install Roboto Fonts */
body {
	font-family: 'Roboto', sans-serif;
}

/* Navbar brand / judul web */
.judulWeb {
	font-weight: 500;
}

/* hide on Mobile */
.hideMobile {
	display: none;
}

/* hide on desktop */
.hideDesktop {
	display: inline-block;
}

/* forms */
.forms {
	padding: 10px 20px;
	line-height: 20px;
	border: 1px solid #dddddd;
	width: 300px;
	background: #fff;

}

.forms200 {
	padding: 10px 20px;
	line-height: 20px;
	border: 1px solid #dddddd;
	width: 200px;
	background: #fff;

}

.select {
	width: 300px;
}

/* Menu navar ketika aktif */
a.nav-item.nav-link.aktif {
	color: #4893C0 !important;
	border-bottom: 1px solid #4893C0 !important;
}

a.nav-item.nav-link:hover {
	color: #4893C0;
}

a.navbar-brand:hover {
	color: #4893C0 !important;
}

/* tombol */
.radiusBorder {
	border-radius: 25px;
}

.noRadius {
	border-radius: 0;
}

.tombol {
	width: 300px;
}

/* tawaran */
.tawaranCard {
	border-top-right-radius: 50px;
	margin-bottom: 40px;
}

.mbMobile {
	margin-bottom: 40px;
}

.mtMobile {
	margin-top: 40px;
}

/* footer */
.ulFooter {
	list-style: none;
	color: #fff;
	padding-left: 0;
}

.listFooter {
	font-weight: 300;
	color: #fff;
	padding: 5px;
}

.listFooter a {
	color: #fff;
}

/* subJudul */

.subJudul span {
	border-bottom: 2px solid #3A8BBB;
	padding-bottom: 0.2em;
}

/* fitur */
.fiturCard {
	padding: 40px;
}

.fiturCard:hover {
	transform: scale(1.1, 1.1);
	transition: 0.3s;

}

.fiturCard img {
	float: left;
}

.fiturCard h4 {
	margin-left: 100px;
	font-weight: 500;
	margin-bottom: 10px;
	font-size: 18px;
}

.fiturCard p {
	font-size: 15px;
	margin-left: 100px;
	margin-bottom: 0;
	line-height: 24px;
}

/* Background gambar untuk homepage */
.s1-hero {
	background: url('../img/s1_hero.jpg');
	background-repeat: none;
	background-size: cover;
	height: 575px;
	width: auto;

}

/* Google Maps */
.map_validasi {
	width: 100%;
	height: 500px;
}

/* link */

a.linkWhite {
	color: white;
}

a.linkWhite:hover {
	color: whitesmoke !important;
}

a:hover {
	text-decoration: none;
	color: #00B6E3 !important;
	transition: 0.3s;
}

button:hover {
	color: white !important;
	background: #3A8BBB;

}

.btnHover:hover {
	color: white !important;
	background: #3A8BBB;
	cursor: pointer;
}

/* centerMobile */
.centerMobile {
	text-align: center;
}


/* Text color */

.txtBlue {
	color: #3A8BBB;
}

/* border btn */

.btn-border-blue2 {
	border: 1px solid #1DA1F2;
}

.btn-border-blue2:hover {
	border: 1px solid #1DA1F2;
	background: #1DA1F2;
}

/* login and register hover */
/* .navbar-nav.nav-link.bgBlue2:hover {
	background: #1DA1F2;
	color: #fff;
} */

/* Background */
.bgRed {
	background: #FF5555;
	color: #fff;
}

.bgBlue1 {
	background: #00B6E3;
	color: #fff;
}

.bgBlue2 {
	background: #1DA1F2;
	color: #fff;
}

.bgBlue3 {
	background: #3A8BBB;
	color: #fff;
}

.bgGreen {
	background: #5ED694;
	color: #fff;
}

/* notifikasi */
.notifikasi {
	border-top: 1px solid rgb(235, 235, 235);
	border-right: 1px solid rgb(235, 235, 235);
	border-left: 1px solid rgb(235, 235, 235);
	border-bottom: 1px solid #5ED694;
}

.notifikasiTeks span {
	color: #5ED694;
}

/* Mengatur ukuran teks */
.bigText {
	font-size: 60px;
}

.medText {
	font-size: 30px;
}

.smText {
	font-size: 20px;
	font-weight: 300;
}

.tnText {
	font-size: 14px;
	font-weight: 300;
}

/* user card */
.userCard {
	padding: 25px;
	background: #fff;
	border: 1px solid rgb(235, 235, 235);
}

.userCardBottom {
	padding: 0px 15px;
}

.userCard img {
	width: 100px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.cardMember {
	padding: 20px;
	background: #fff;
	border: 1px solid rgb(235, 235, 235);
}

.row.listItems {
	border-bottom: 1px solid rgb(235, 235, 235);
	margin-bottom: 5px;
}


/* login and register img */
.loginImg {
	background: url('../img/login.jpeg');
	background-repeat: none;
	background-size: cover;
	height: auto;
	width: auto;
}

.regImg {
	background: url('../img/login.jpeg');
	background-repeat: none;
	background-size: cover;
	height: auto;
	width: auto;
}

/* responsive */
@media (min-width: 992px) {

	.mbMobile {
		margin-bottom: 0px;
	}

	.mtMobile {
		margin-top: 0px;
	}

	.tawaranCard {
		border-top-right-radius: 50px;
		margin-bottom: 0px;
	}

	.tawaranCard:hover {
		transform: scale(1.1, 1.1);
		transition: 0.3s;
		-webkit-box-shadow: 3px 6px 39px -6px rgba(51, 0, 255, 1);
		-moz-box-shadow: 3px 6px 39px -6px rgba(51, 0, 255, 1);
		box-shadow: 3px 6px 39px -6px rgba(51, 0, 255, 1);
	}

	.hideMobile {
		display: inline-block;
	}

	.hideDesktop {
		display: none;
	}

	.forms {
		padding: 10px 20px;
		line-height: 20px;
		border: 1px solid #dddddd;
		width: 400px;
		background: #fff;

	}

	.forms200 {
		padding: 13px 20px;
		line-height: 20px;
		border: 1px solid #dddddd;
		width: 200px;
		background: #fff;

	}

	.tombol {
		width: 400px;
	}

	.centerMobile {}
}
