/* Install Roboto Fonts */
body {
	font-family: 'Roboto', sans-serif;
}

/* Navbar brand / judul web */
.judulWeb {
	font-weight: 500;
}

/* hide on Mobile */
.hideMobile {
	display: none;
}

/* forms */
.forms {
	padding: 10px 20px;
	line-height: 20px;
	border: 1px solid #dddddd;
	width: 300px;
	background: #fff;

}

.select {
	width: 300px;
}

/* Menu navar ketika aktif */
a.nav-item.nav-link.aktif {
	color: #4893C0 !important;
	border-bottom: 1px solid #4893C0 !important;
}

a.nav-item.nav-link:hover {
	color: #4893C0 !important;
}

/* tombol */
.radiusBorder {
	border-radius: 25px;
}

.noRadius {
	border-radius: 0;
}

.tombol {
	width: 300px;
}

/* tawaran */
.tawaranCard {
	border-top-right-radius: 50px;
	margin-bottom: 40px;
}

.mbMobile {
	margin-bottom: 40px;
}

/* footer */
.ulFooter {
	list-style: none;
	color: #fff;
	padding-left: 0;
}

.listFooter {
	font-weight: 300;
	color: #fff;
	padding: 5px;
}

.listFooter a {
	color: #fff;
}

/* subJudul */

.subJudul span {
	border-bottom: 2px solid #3A8BBB;
	padding-bottom: 0.2em;
}

/* fitur */
.fiturCard {
	padding: 40px;
}

.fiturCard:hover {
	transform: scale(1.1, 1.1);
	transition: 0.3s;

}

.fiturCard img {
	float: left;
}

.fiturCard h4 {
	margin-left: 100px;
	font-weight: 500;
	margin-bottom: 10px;
	font-size: 18px;
}

.fiturCard p {
	font-size: 15px;
	margin-left: 100px;
	margin-bottom: 0;
	line-height: 24px;
}

/* Background gambar untuk homepage */
.s1-hero {
	background: url('../img/s1_hero.jpg');
	background-repeat: none;
	background-size: cover;
	height: 575px;
	width: auto;

}

/* link */
a:hover {
	text-decoration: none !important;
	color: #fff !important;
	transition: 0.3s;
}

a:hover.btn {
	color: #fff;
	transition: 0.3s;
	border-radius: 25px;
}

button:hover {
	color: white;

}

/* Text color */
.txtBlue {
	color: #3A8BBB;
}

/* Background */
.bgRed {
	background: #FF5555;
	color: #fff;
}

.bgBlue1 {
	background: #00B6E3;
	color: #fff;
}

.bgBlue2 {
	background: #1DA1F2;
	color: #fff;
}

.bgBlue3 {
	background: #3A8BBB;
	color: #fff;
}

/* Mengatur ukuran teks */
.bigText {
	font-size: 60px;
}

.medText {
	font-size: 30px;
}

.smText {
	font-size: 20px;
	font-weight: 300;
}

.tnText {
	font-size: 14px;
	font-weight: 300;
}


/* login and register img */
.loginImg {
	background: url('../img/login.jpeg');
	background-repeat: none;
	background-size: cover;
	height: auto;
	width: auto;
}

.regImg {
	background: url('../img/login.jpeg');
	background-repeat: none;
	background-size: cover;
	height: auto;
	width: auto;
}

/* responsive */
@media (min-width: 992px) {

	.mbMobile {
		margin-bottom: 0px;
	}

	.tawaranCard {
		border-top-right-radius: 50px;
		margin-bottom: 0px;
	}

	.tawaranCard:hover {
		transform: scale(1.1, 1.1);
		transition: 0.3s;
		-webkit-box-shadow: 3px 6px 39px -6px rgba(51, 0, 255, 1);
		-moz-box-shadow: 3px 6px 39px -6px rgba(51, 0, 255, 1);
		box-shadow: 3px 6px 39px -6px rgba(51, 0, 255, 1);
	}

	.hideMobile {
		display: inline-block;
	}

	.forms {
		padding: 10px 20px;
		line-height: 20px;
		border: 1px solid #dddddd;
		width: 400px;
		background: #fff;

	}

	.tombol {
		width: 400px;
	}
}
